* {
    -webkit-user-select: none;

}
*::selection {
  background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #4EAAEB;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #000000;
}
::-webkit-scrollbar-track {
  background: #2C2E34;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #2C2E34;
}
::-webkit-scrollbar-track:active {
  background: #2C2E34;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

@font-face {
    font-family: "bignoodle";
    src: url('../bignoodle.ttf') format('truetype');
}

@font-face {
    font-family: "montserrat";
    src: url('../Montserrat-Regular.ttf') format('truetype');
}

body, html {
    margin:0;
    padding:0;
    background-color:#36393e;
    position:relative;
    color:#ffffff;
    cursor: default !important;
}

body{
	overflow:hidden;
}

.topbar {
    height:138px;
    border-bottom:4px solid #282c30;
    -webkit-app-region: drag;
    background-color:#29303b;
    background-image:url("../img/splash.png");
    background-position: right center;
    background-repeat:no-repeat;
}

.logo {
    position:absolute;
    top:0;
    left:0;
    width:256px;
    height:215px;
    background-image:url("../img/logo.png");
    background-repeat:no-repeat;
}

.win-control {
    position:absolute;
    top:10px;
    right:10px;
}
.win-control .minimize, .win-control .close {
    -webkit-app-region: no-drag;
    float: right;
    display: block;
    width: 20px;
    height: 20px;
    position: relative;
    cursor: pointer;
    margin-right:5px;
    margin-left:5px;
}
.win-control .minimize .line1 {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    bottom: 0px;
}
.win-control .close .line1 {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    bottom: 5px;
    transform: rotate(45deg);
}
.win-control .close .line2 {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    display: block;
    position: absolute;
    bottom: 5px;
    transform: rotate(135deg);
}
.win-control .minimize .line1, .win-control .close .line1, .win-control .close .line2 {
    transition:background-color .2s;
    background-color:#ffffff;
}
.win-control .minimize:hover .line1, .win-control .close:hover .line1, .win-control .close:hover .line2 {
    background-color:#55ACEE;
}

.content-area {
    height:380px;
}
.content-area .col-left {
    float:left;
    height:293px;
    width:100px;
    margin-top:30px;
    font-family: arial, helvetica, sans-serif;
    font-size:12px;
    padding-left:15px;
}

.content-area .col-left img {
    width:170px;
}

.content-area .col-left h1 {
    margin: 0;
    padding: 0;
    display: block;
    color: #707379;
    font-size: 12px;
    font-weight: normal;
    font-family: bignoodle;
    font-size: 24px;
    text-align: center;
    margin-top:50px;
}

.content-area .col-left {
    text-decoration:none;
    color:#ffffff;
}

.content-area .col-right {
    position:relative;
    height:320px;
    /* margin-left:200px; */
    margin-left:130px;
    font-family: "bignoodle";
    font-size:24px;
}

ul.modlist {
    list-style-type: none;
    margin-top:15px;
    margin-right:15px;
    display:block;
    background-color:#2c3034;
    border:1px solid #46484e;
    height:100%;
    padding:0;
    -moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
    box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
    padding-top:2px;
    overflow-y: auto;
}

ul.modlist:empty {
    background-image:url('../img/empty.png');
    background-position:center center;
    background-repeat:no-repeat;
}

ul.modlist li {
    transition:background-color .2s, color .2s;
    display:block;
    background-color:#292b31;
    border:1px solid rgba(0,0,0,0);
    border-bottom:1px solid #212528;
    margin-left:2px;
    margin-right:2px;
    padding-left:10px;
}

ul.modlist li.selected {
    border:1px solid #4EAAEB;
}

ul.modlist li h1 {
    outline:none;
    display: inline-block;
    font-size: 13px;
    font-family: "montserrat";
    margin: 0;
    padding: 0;
    color: rgba(255,255,255,0.15);
    font-weight: lighter;
    line-height: 40px;
    max-width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    top: 3px;
}

ul.modlist li h1[contentEditable="true"] {
    width:290px;
    background:#263040;
    padding-left:10px;
    color:#46A8E7 !important;
    text-overflow: initial;
    cursor:text;
}

ul.modlist li[data-priority="1"] h1[contentEditable="true"] {
    background:#3F2238;
    color:#E62EB6 !important;
}

ul.modlist li .trash, ul.modlist li .pen, ul.modlist li .priority-toggle {
    float: right;
    width: 19px;
    height: 21px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    right: 20px;
    top: 11px;
    opacity: 0.1;
    margin-left:10px;
}

ul.modlist li .trash {
    background-image: url("../img/trash.png");
}

ul.modlist li .pen {
    background-image: url("../img/pen.png");
}

ul.modlist li .priority-toggle {
    background-image: url("../img/up.png");
}

ul.modlist li[data-priority="1"] .priority-toggle {
    background-image: url("../img/down.png");
}

ul.modlist li .trash:hover, ul.modlist li .pen:hover, ul.modlist li .priority-toggle:hover {
    opacity: 1;
}

ul.modlist li.enabled {
    background-color:#30405a;
}

ul.modlist li.enabled h1 {
    color:#ffffff;
}

ul.modlist li .toggle {
    float:right;
    height:25px;
    width:70px;
    background-color:rgba(0,0,0,0.3);
    overflow:hidden;
    font-size:18px;
    line-height:25px;
    position: relative;
    top: 10px;
    right: 7px;
}

ul.modlist li .toggle .nob {
    position: relative;
    width: 19px;
    height: 19px;
    display: inline-block;
    top: 3px;
    margin-left: 5px;
    margin-right: 5px;
}

ul.modlist li .toggle span {
    line-height:25px;
}

ul.modlist li .toggle .inner {
    transition:left .2s, color .2s;
    position:relative;
    left:-16px;
    color:#4B4C4F;
}

ul.modlist li .toggle .inner .nob {
    transition:background-color .2s;
    background-color: #2C2E34;
}

ul.modlist li.enabled .toggle .inner {
    position:relative;
    left:29px;
    color:#ffffff;
}

ul.modlist li.enabled .inner .nob {
    background-color: #4EAAEB;
}

ul.modlist li[data-priority="1"] {
    background-color:#2f252c;
}

ul.modlist li.enabled[data-priority="1"] {
    background-color:#5a304f;
}

ul.modlist li[data-priority="1"] .toggle .nob {
    background-color:#2f252c;
}

ul.modlist li.enabled[data-priority="1"] .toggle .nob {
    background-color:#e62eb6;
}

.buttons {
    text-align:right;
    margin-right:15px;
    margin-top:9px;
}

.btn {
    transition:background-color .2s, opacity .5s;
    opacity:1;
    cursor:default;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    background-color: #ff4646;
    line-height: 10px;
    top: 22px;
    position: relative;
    font-family: bignoodle;
    font-size: 22px;
    color: #ffffff;
    border-bottom: 2px solid #690000;
    border-radius: 3px;

    background-color: #0076b2;
    border-bottom-color: #25334a;
}

.col-left .btn {
    font-size:18px;
    white-space:nowrap;
    padding-top:15px;
    padding-bottom:15px;
    display:block;
    text-align:center;
}

.btn-gray {
    background-color: #656565;
    border-bottom-color: #333333;
}

.btn-red {
    background-color: #bf001b;
    border-bottom-color: #690000;
}

.btn:hover {
    background-color: #4eaaeb;
}

.btn-gray:hover {
    background-color: #828282;
}

.btn-red:hover {
    background-color: #ff4646;
}

.load-indicator {
    position: absolute;
    top: 0;
    right: 15px;
    left: 0;
    bottom: -4px;
    text-align: center;
    line-height: 300px;
    background-color: #36393E;
}

.btn-file {
    transition:border-color .2s, color .2s;
    background-color: transparent;
    border: 1px solid #656565;
    margin-bottom: 3px;
} .btn-file:hover {
    background-color: transparent;
    color:#55ACEE;
    border-color:#55ACEE;
}

.load-indicator .bar {
    padding:4px;
    height: 30px;
    width: 300px;
    margin: auto;
    background: rgba(0,0,0,.6);
    position: relative;
    top: 145px;
}

.load-indicator .fill {
    transition:width .2s;
    height: 100%;
    width: 0%;
    opacity:0.5;
}

.load-indicator .label {
    position: absolute;
    top: 6px;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: initial;
}

.load-indicator .text {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: initial;
}

.fullscreen-sync {
    display:none;
    position: absolute;
    padding-top:100px;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: -16px;
    background-color: #15191f;
}

.fullscreen-sync .label {
    font-family: bignoodle;
    font-size: 40px;
    position: absolute;
    left: 0;
    top: 250px;
    right: 0;
    text-align: center;
}

.fullscreen-sync .sublabel {
    font-family: bignoodle;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 300px;
    right: 0;
    text-align: center;
}

.version {
    text-decoration: none;
    color: #777777;
    font-family: montserrat;
    position: absolute;
    top: 100px;
    left: 95px;
}

.social-links {
	position:absolute;
	bottom:10px;
	left:13px;
}

.social-links a.img {
	transition:opacity .2s;
	opacity:0.2;
	width:35px;
	height:26px;
	background-position:center;
	background-repeat: no-repeat;
	float:left;
    cursor:default;
}

.social-links a:hover {
	opacity:1;
}

.social-links a.img.reddit {
	background-image:url('../img/link-reddit.png');
}

.social-links a.img.discord {
	background-image:url('../img/link-discord.png');
}

.social-links a.img.twitter {
	background-image:url('../img/link-twitter.png');
}

.dirty-warning {
    transition:opacity 0.5s, right 0.5s;
    opacity:0;
    background-image:url('../img/warning.png');
    background-position:30px 20px;
    background-repeat:no-repeat;
    font-family: "montserrat";
    font-size: 14px;
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.51);
    color: #ffffff;
    width: 250px;
    position: absolute;
    top: 45px;
    padding-left: 100px;
    padding-right:30px;
    right: -260px;
    /* height: 60px; */
    border-radius: 10px;
}

.dirty-warning.warn-reload {
    opacity:1;
    right:-10px;
}

span.warn-slipstream {
    font-weight:bold;
    color:#ff71da;
}
span.warn-reload {
    font-weight:bold;
    color:#55ACEE;
}

.btn.warn-reload {
    background-color:#0076b2;
}
.btn.warn-reload:hover {
    background-color: #4eaaeb;
}

.btn.disabled {
    opacity:0.2 !important;
    background-color:#777777;
}
